@media (max-width:1137px){
    .checkbtn{
        display: block;
    }
    nav .title{
        font-size: 40px;
    }
    nav .logo{
        padding-left: 20px;
        height: 50px;
    }
    nav ul li a{
        font-size: 18px;
    }
    ul.active{
        position: fixed;
        width: 100%;
        top: 80px;
        height: 100vh;
        text-align: center;
        background: #2c2d30;
        transition: all 0.5s;
        right: -200%; /* hiding the ul to the left side*/
    }
    nav ul{
        flex-direction: column;
        justify-content: flex-start;
    }
    nav ul li{
        /* display: block; */
        margin: 35px 0; 
        line-height: 30px;    
    }
    nav ul li a{
        color: #ffffff;
        font-size: 30px;
    }
    a:hover,a.active{
        background: none;
        color: #60b033;
        transition: all 0.5s;
    }
    #check:checked ~ ul{
        right: 0; /* idk why but this important to make the list show when clicking the button*/
    }
    .main{
        height: 670px;
    }
    .main img{
        margin-top: 125px;
        height: 50%;
    }
    .mainRight{
        padding-top: 210px;
    }
    .main h1{
        font-size: 28px;
    }
    .main p{
        font-size: 18px;
    }
    .container-cards{
        flex-direction: column;
    }
    .icon-right{
        order: -2;
        padding-bottom: 75px;
    }
    .icon-left{
        padding-bottom: 75px;
    }   
    .devBox{
        height: 500px;
    }
}
@media(max-width: 700px) {
    .feature .img{
        margin-left: 0 !important;
        max-height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cards{
        flex-direction: column-reverse !important;
        width: 100% !important;
    }
    .cards img{
        max-height: 200% !important;
        margin-top: 100px !important;   
    }
    .details{
        padding: 35px 10px;
    }
    .details h1{
        font-size: 25px;
    }
    .details p{
        font-size: 15px;
    }
    .icon-left img{
        width: 25% !important;
    }
    .icon-right img{
        width: 25% !important;
    }
}

@media(max-width: 670px){
    .main{
        padding-left: 0;
    }
    .main h1{
        text-align: center;
        font-size: 1.25rem;
        padding: 85px 0px 0px 0px; /* TOP - RIGHT - BOTTOM - LEFT */
        color: #ffffff;
    }
    .main p{
        text-align: center;
        font-size: 15px;
        padding-left: 0px;
    }
    .mainRight{
        display: flex;
        justify-content: center;
        margin-right: 230px;
        padding-top: 15px;
    }
    .downloadButton{
        font-size: 20px;
        margin-left: 0px;
    }
    .main img{
        margin-top: 175px;
        height: 45%;
    }
    .mainLeftWrapper{
        justify-content: center;
    }
    .greenline{
        display: none;
    }
    .icon{
        display: none;
    }
    .devContainer{
        padding: 85px 50px 85px 50px; /* TOP - RIGHT - BOTTOM - LEFT */
    }
    .devBox p{
        font-size: 12.5px;
    }
    .downlaodAppContainer h1{
        font-size: 35px;
    }
    .amwaly-green-logo{
        width: 20%;
    }
    .footer h3{
        font-size: 12.5px;
    }
    .footer img{
        height: 50%;
    }
}
@media (max-width: 456px){
    .main h1{
        text-align: center;
        font-size: 1.10rem;
        padding-top: 85px;
        color: #ffffff;
    }
    .main p{
        text-align: center;
        font-size: 12px;
    }
    .downloadButton{
        margin: 0;
        font-size: 13px;
    }
    .mainRight{
        margin-right: 150px;
    }
    .greenline{
        display: none;
    }   
    .downlaodAppContainer h1{
        font-size: 25px;
    }
}