.features{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 110px 50px 110px; /* TOP - RIGHT - BOTTOM - LEFT */
    height: auto;
    /*to make the whole div appear bellow the nav bar */
    position: relative;
    z-index: 1;
}

.box{
    flex-basis: 50%;
    flex-grow: 1;
    height: 350px;
    text-align: center;
    overflow: hidden; /*to make the image disappear whne it's getting out side the div*/
    border-radius: 20px;
    margin-bottom: 50px; /* space below divs */ 
    box-shadow: 0 0 50px rgba(44, 45, 48, 0.50);  

}
.icon{
    position: relative;
    flex-basis: 50%;
    flex-grow: 1;
    height: 350px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 50px; /* space below divs */ 
    box-shadow: 0 0 50px rgba(44, 45, 48, 0.50);   
}
.features p {
    font-size: 1.50rem;
    font-weight: 700;
    line-height: 2rem;
    font-family: Montserrat;
    margin-top: 125px;
    margin-left: 325px;
}
.box img{
    display: block; /* remove extra space below image */
    height: 140%;
    margin-top: -180px;
    
}


#incomeIcon{
    box-shadow: none;
    /* to center the img inside the div ( NOT SURE IF IT"S SAFE ) */
    display: flex;
    align-items: center;
    justify-content: center;
}
#incomeIcon img{
    height: 60%;
    margin-right: 50px;
}
#income{
    background-image: linear-gradient(to bottom right, #11998E, #38EF7D);
}
#investIcon{
    box-shadow: none;
    /* to center the img inside the div ( NOT SURE IF IT"S SAFE ) */
    display: flex;
    align-items: center;
    justify-content: center;
}
#investIcon img{
    height: 60%;
    margin-left: 50px;
}
#invest{
    background-image: linear-gradient(to bottom right, #FAB2FF, #1904E5);
}



#emergencyIcon{
    box-shadow: none;
    /* to center the img inside the div ( NOT SURE IF IT"S SAFE ) */
    display: flex;
    align-items: center;
    justify-content: center;
}
#emergencyIcon img{
    height: 60%;
    margin-right: 50px;
}
#emergency{
    background-image: linear-gradient(to bottom right, #F05F57, #360940);
}


#spendingIcon{
    box-shadow: none;
    /* to center the img inside the div ( NOT SURE IF IT"S SAFE ) */
    display: flex;
    align-items: center;
    justify-content: center;
}
#spendingIcon img{
    height: 70%;
    margin-left: 50px;
}
#spending{
    background-image: linear-gradient(to bottom right, #FFA8A8, #FCFF00);
}


#loanIcon{
    box-shadow: none;
    /* to center the img inside the div ( NOT SURE IF IT"S SAFE ) */
    display: flex;
    align-items: center;
    justify-content: center;
}
#loanIcon img{
    height: 50%;
    margin-right: 50px;
}
#loan{
    background-image: linear-gradient(to bottom right, #11998E, #38EF7D);
}


#donationIcon{
    box-shadow: none;
    /* to center the img inside the div ( NOT SURE IF IT"S SAFE ) */
    display: flex;
    align-items: center;
    justify-content: center;
}
#donationIcon img{
    height: 60%;
    margin-left: 50px;
}
#donation{
    background-image: linear-gradient(to bottom right, #FFD26f, #3677FF);
}