.features{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 110px 50px 110px; /* TOP - LEFT - BOTTOWM - RIGHT */
    height: auto;
    /*to make the whole div appear bellow the nav bar */
    position: relative;
    z-index: -1;
}

.box{
    position: relative;
    flex-basis: 50%;
    flex-grow: 1;
    height: 350px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 50px; /* space below divs */ 
    box-shadow: 0 0 50px rgba(44, 45, 48, 0.50);   
}
.icon{
    position: relative;
    flex-basis: 50%;
    flex-grow: 1;
    height: 350px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 50px; /* space below divs */ 
    box-shadow: 0 0 50px rgba(44, 45, 48, 0.50);   
}
.features p {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    font-family: Montserrat;
    margin-top: 125px;
    margin-left: 325px;
}


#incomeIcon{
    box-shadow: none;
    /* to center the img inside the div ( NOT SURE IF IT"S SAFE ) */
    display: flex;
    align-items: center;
    justify-content: center;
}
#incomeIcon img{
    height: 60%;
    margin-right: 50px;
}
#income{
    background-image: linear-gradient(to bottom right, #11998E, #38EF7D);
    
}
#income img{
    display: block; /* remove extra space below image */
    height: 90%;
    max-width: 100%;
    max-height: 100%;
    margin-top: -175px;
    margin-left: -25px;
    transform: rotate(20deg);
}


#investIcon{
    box-shadow: none;
    /* to center the img inside the div ( NOT SURE IF IT"S SAFE ) */
    display: flex;
    align-items: center;
    justify-content: center;
}
#investIcon img{
    height: 60%;
    margin-left: 50px;
}
#invest{
    background-image: linear-gradient(to bottom right, #FAB2FF, #1904E5);
}
#invest img{
    display: block; /* remove extra space below image */
    height: 90%;
    max-width: 100%;
    max-height: 100%;
    margin-top: -175px;
    margin-left: -25px;
    transform: rotate(20deg);
}


#emergencyIcon{
    box-shadow: none;
    /* to center the img inside the div ( NOT SURE IF IT"S SAFE ) */
    display: flex;
    align-items: center;
    justify-content: center;
}
#emergencyIcon img{
    height: 60%;
    margin-right: 50px;
}
#emergency{
    background-image: linear-gradient(to bottom right, #F05F57, #360940);
}
#emergency img{
    display: block; /* remove extra space below image */
    height: 90%;
    max-width: 100%;
    max-height: 100%;
    margin-top: -175px;
    margin-left: -25px;
    transform: rotate(20deg);
}


#spendingIcon{
    box-shadow: none;
    /* to center the img inside the div ( NOT SURE IF IT"S SAFE ) */
    display: flex;
    align-items: center;
    justify-content: center;
}
#spendingIcon img{
    height: 70%;
    margin-left: 50px;
}
#spending{
    background-image: linear-gradient(to bottom right, #FFA8A8, #FCFF00);
}
#spending img{
    display: block; /* remove extra space below image */
    max-width: 115%;
    max-height: 115%;
    margin-top: -215px;
    margin-left: -70px;
    transform: rotate(5deg);
}


#loanIcon{
    box-shadow: none;
    /* to center the img inside the div ( NOT SURE IF IT"S SAFE ) */
    display: flex;
    align-items: center;
    justify-content: center;
}
#loanIcon img{
    height: 50%;
    margin-right: 50px;
}
#loan{
    background-image: linear-gradient(to bottom right, #11998E, #38EF7D);
}
#loan img{
    display: block; /* remove extra space below image */
    height: 90%;
    max-width: 100%;
    max-height: 100%;
    margin-top: -175px;
    margin-left: -25px;
    transform: rotate(20deg);
}


#donationIcon{
    box-shadow: none;
    /* to center the img inside the div ( NOT SURE IF IT"S SAFE ) */
    display: flex;
    align-items: center;
    justify-content: center;
}
#donationIcon img{
    height: 60%;
    margin-left: 50px;
}
#donation{
    background-image: linear-gradient(to bottom right, #FFD26f, #3677FF);
}
#donation img{
    display: block; /* remove extra space below image */
    height: 90%;
    max-width: 100%;
    max-height: 100%;
    margin-top: -175px;
    margin-left: -25px;
    transform: rotate(20deg);
}