@media (max-width: 1242px) {
    .features{
        padding: 50px 25px 50px 25px !important;
    }
    .features p {
        font-size: 1rem !important;
        font-weight: 0 !important;
        line-height: 1.50rem !important ;
        margin-top: 25px !important;
        margin-left: 0px !important;
    }
    .box{
        flex-basis: 100% !important; 
        height: 280px !important;
        text-align: center !important; 
    } 
    .icone{
        margin-bottom: 0px!important; /* space below divs */ 
        height: 1px !important;
    }
    .box img{
        height: 110% !important; 
        margin-top: 10px !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }
    
    /* income */
    #incomeIcon{
        height: 150px;
    }
    #incomeIcon img{
        height: 80% !important;
        margin-right: 0 !important;
    }

    /* invest */
    #investIcon{
        height: 100px;
    }
    #investIcon img{
        height: 80% !important;
        margin-left: 0 !important;
    }

    /* emergency */
    #emergencyIcon{
        height: 100px;
    }
    #emergencyIcon img{
        height: 80% !important;
        margin-right: 0 !important;
    }

    /* spending */
    #spendingIcon{
        height: 100px;
    }
    #spendingIcon img{
        height: 80% !important;
        margin-left: 0 !important;
    }

    /* loan */
    #loanIcon{
        height: 100px;
    }
    #loanIcon img{
        height: 80% !important;
        margin-right: 0 !important;
    }

    /* donation */
    #donationIcon{
        height: 100px;
    }
    #donationIcon img{
        height: 80% !important;
        margin-left: 0 !important;
    }

    #incomeIcon{
        order: -12;
    }  
    #income{
        order: -11
    }
    #invest{
        order: -9;
    }
    #investIcon{
        order: -10;
    }
    #emergencyIcon{
        order: -8;
    }
    #emergency{
        order: -7;
    }
    #spendingIcon{
        order: -6;
    }
    #spending{
        order: -5;
    }
    #loanIcon{
        order: -4;
    }
    #loan{
        order: -3;
    }
    #donationIcon{
        order: -2;
    }
    #donation{
        order: -1;
    }
}

@media (max-width: 940px){
    .checkbtn{
        display: block;
    }
    nav .title{
        font-size: 40px;
    }
    nav .logo{
        padding-right: 20px;
        height: 50px;
    }
    nav ul li a{
        font-size: 18px;
    }
    ul.active{
        position: fixed;
        width: 100%;
        top: 80px;
        height: 100vh;
        text-align: center;
        background: #2c2d30;
        transition: all 0.5s;
        left: -200%; /* hiding the ul to the left side*/
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;    
    }
    nav ul li a{
        color: #ffffff;
        font-size: 30px;
    }
    a:hover,a.active{
        background: none;
        color: #60b033;
        transition: all 0.5s;
    }
    #check:checked ~ ul{
        left: 0; /* idk why but this important to make the list show when clicking the button*/
    }
    .main{
        height: 670px;
    }
    .main img{
        top: 210px;
        height: 60%;
    }
    .box{
        flex-basis: 100%;
    }
    
}

@media(max-width: 671px){
    .main{
        padding-right: 0;
    }
    .main h1{
        text-align: center;
        font-size: 1.75rem;
        padding-top: 85px;
        color: #ffffff;
    }
    .main p{
        text-align: center;
        font-size: 20px;
    }
    .mainLeft{
        text-align: center;
        padding-right: 295px;
    }
    .main img{
        height: 45%;
        top: 325px;
    }
    .main .mainRight{
        padding-top: 0;
        text-align: center;
    }
    .downloadButton{
        margin-top: 25px;
        font-size: 30px;
    }
    .greenline{
        display: none;
    }
    .icon{
        display: none;
    }
    .devBox p{
        font-size: 2rem;
        font-weight: 550;
        color: #000000;
    }
    .devBox h3{
        color: #666;
        font-size: 15px;
        padding: 30px;
    }
    .devBox p{
        font-size: 1.25rem;
        font-weight: 550;
        color: #000000;
    }
    .devBox h3{
        text-align: center;
        font-size: 10px;
        line-height: 13px;
    }
    .devBox h2{
        width: 150px;
    }
}
@media (max-width: 432px){
    .main h1{
        text-align: center;
        font-size: 25px;
        padding-top: 85px;
        color: #ffffff;
    }
    .main p{
        text-align: center;
        font-size: 15px;
    }
    .downloadButton{
        margin: 0;
        margin-top: 25px;
        font-size: 100px;
    }
    .downloadButton{
        margin-top: 20px;
        font-size: 25px;
    }
    .greenline{
        display: none;
    }   
}