*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
}
nav{
    width: 100%; 
    height: 80px;
    background: #ffffff;
    border-bottom: 5px solid #60b033; 
}
.logo{
    float: right;
    height: 60px;
    margin-top: 10px;
    padding-right: 50px;
}
.title{
    float: right;
    color: #000000;
    font-size: 35px;
    line-height: 80px;
    padding-right: 20px;
}
nav ul{
    float: none;
    margin: 0 auto;
    text-align: center;
}
nav ul li{
    display: inline-block; /* become next to each other*/
    line-height: 80px;
    margin: 0 5px;
    padding: 0 20px;
}
nav ul li a{
    color: #000000;
    font-size: 19px;
    padding: 7px 20px; /* Check this */
}
a.active,a:hover{
    color: #60b033;
    transition: .5s;
}
#check{
    display: none; /*removing the defualt check box*/
}
.checkbtn{
    font-size: 30px;
    padding-left: 40px;
    cursor: pointer;
    display: none; /* making it disappear for all screen sizes*/
    line-height: 80px;
}
.main{
    position: relative;
    display: flex;
    justify-content: space-between;
    background: radial-gradient(circle, #2c2d30, #171717);
    height: auto; 
    border-top: 5px solid #60b033;   
    z-index: -2;
    padding-bottom: 50px;
}
.main-right-section{
    flex-basis: 150%;
    position: relative;
    text-align: right;
    width: 100%;
    margin-right: 125px;
    padding-top: 30px;
}
.main-right-section h1{
    position: relative;
    font-size: 50px;
    padding-top: 100px;
    color: #ffffff;
}
.main-right-section p{
    position: relative;
    font-size: 25px;
    font-weight: 100;
    color: #b7b7b7;
}
button{
    position: relative;
    font-size: 40px;
    border-color: #263a1d;
    border-radius: 20px;
    border-style: solid;
    border-color: #000000;
    color: #ffffff;
    background-color: #60b033;
    padding: 5px 20px;
    margin-top: 105px;
    width: fit-content;
}
.main-left-section{
    padding-top: 150px;
    flex-basis: 80%;
    position: relative;
    display: flex;
}
.main-left-section .phoneOverView{
    width: 100%;
    height: 100%;
}
.line{
    position: absolute;
    margin-top: 350px;
    width: 100%;
    height: 40px;
    background: #60b033;
    z-index: -1;
}
.TEMP{
    height: 1000px;
    background-color: #ffffff;
}
@media (max-width: 902px){
    .checkbtn{
        display: block;
    }
    nav .title{
        font-size: 40px;
    }
    nav .logo{
        padding-right: 20px;
        height: 50px;
    }
    nav ul li a{
        font-size: 18px;
    }
    ul.active{
        position: fixed;
        width: 100%;
        top: 80px;
        height: 100vh;
        text-align: center;
        background: #2c2d30;
        transition: all 0.5s;
        left: -100%; /* hiding the ul to the left side*/
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;    
    }
    nav ul li a{
        color: #ffffff;
        font-size: 30px;
    }
    a:hover,a.active{
        background: none;
        color: #60b033;
        transition: all 0.5s;
    }
    #check:checked ~ ul{
        left: 0; /* idk why but this important to make the list show when clicking the button*/
    }
    .main{
        height: 450px;
        padding-bottom: 0;
        padding-bottom: 25px;
    }
    .main-right-section{
        margin: 0 20px;
    }
    .main-right-section h1{
        padding: 0;
        padding-top: 100px;
        font-size: 30px; /*make it 30px later*/
    }
    .main-right-section p{
        font-size: 20px;
    }
    button{
        margin: 0;
        margin-top: 60px;
        font-size: 20px;
    }
    .main-left-section{
        padding: 0;
        padding-top: 90px;
        flex-basis: 100%;
    }
    .main-left-section .phoneOverView{
        position: static;
        height: 100%;
        width: 150%;
        margin: 0;
        
    }
    .line{
        height: 15px;
        margin: 0;
        margin-top: 275px;
    }
}
@media (max-width: 540px){
    .main-left-section{
        flex-basis: 10%;
    }
    .main-left-section .phoneOverView{
        position: static;
        height: auto;
        width: 1250%;
        margin: 0;
        margin-top: 100px;
        margin-left: -25px;
    }
    .line{
        height: 15px;
        margin: 0;
        margin-top: 275px;
        
    }
}
@media (max-width: 362px){
    .line{
        display: none;
        
    }
    button{
        margin: 0;
        margin-top: 95px;
        font-size: 20px;
    }
}

